html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
  background-color: hsl(212deg, 45%, 89%);
}

h1,
p {
  margin: 0;
}

body {
  height: 100vh;
  grid-template-columns: auto;
  grid-template-rows: auto;
  display: grid;
  justify-items: center;
  align-items: center;
}

.card {
  width: 20rem;
  background-color: hsl(0deg, 0%, 100%);
  border-radius: 1.25rem;
  box-shadow: 0px 1.5625rem 1.5625rem rgba(0, 0, 0, 0.0477);
}
.card .card-component {
  width: 18rem;
  margin-inline: 1rem;
}
.card .card-main-image {
  margin-block-start: 1rem;
  width: 18rem;
  border-radius: 0.625rem;
}
.card .card-text {
  margin-block-start: 1.5rem;
  margin-block-end: 2.5rem;
}
.card .card-text-heading {
  font-weight: 700;
  font-size: 1.375rem;
  line-height: 1.75rem;
  text-align: center;
  color: hsl(218deg, 44%, 22%);
}
.card .card-text-body {
  margin-block-start: 1rem;
  font-size: 0.9375rem;
  font-weight: 400;
  font-style: normal;
  line-height: 1.1875rem;
  text-align: center;
  letter-spacing: 0.03125rem;
  color: hsl(220deg, 15%, 55%);
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
}

.attribution a {
  color: hsl(228deg, 45%, 44%);
}
