@use '../utils' as u;
@use '../globals/_colors' as g;

.card {
  width: u.rem(320);
  background-color: g.$white;
  border-radius: u.rem(20);
  box-shadow: 0px u.rem(25) u.rem(25) rgba(0, 0, 0, 0.0477);

  .card-component {
    width: u.rem(288);
    margin-inline: u.rem(16);
  }

  .card-main-image {
    margin-block-start: u.rem(16);
    width: u.rem(288);
    border-radius: u.rem(10);
  }

  .card-text {
    margin-block-start: u.rem(24);
    margin-block-end: u.rem(40);
  }

  .card-text-heading {
    font-weight: 700;
    font-size: u.rem(22);
    line-height: u.rem(28);
    text-align: center;
    color: g.$dark-blue;
  }

  .card-text-body {
    margin-block-start: u.rem(16);
    font-size: u.rem(15);
    font-weight: 400;
    font-style: normal;
    line-height: u.rem(19);
    text-align: center;
    letter-spacing: u.rem(0.5);
    color: g.$grayish-blue;
  }
}
